nav{
  font-family: "Amatic SC", cursive;
  font-size: 25px
}
.popp{
  padding-bottom: 30px
}

.pop{
  padding-bottom: 40px
}
.cake{
  font-family: "Snell Roundhand", cursive;
  font-size: 35px
}
.cakke{
  font-family: "Amatic SC", cursive;
  font-size: 25px
}
.plant{
  padding-left: 40px
}
.padd{
  padding-right: 50px
}
.centerr{
  text-align: center;
}
.cakee{
  font-family: "Amatic SC", cursive;
  font-size: 35px
}
